.logo{
    max-width: auto;
    height: 90%;
}
.spacer {
    flex: 1 1 auto;
  }
.button{
    float: right;
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 6px 20px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    font: bold 13px arial, helvetica; 
    background: rgba(27,188,194,1);
    border-radius: 8px;
}
.button:hover {background-color: teal}

.button:active {
  background-color: teal;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}