<div class="col">
    <div class = "row">
        <div>
            <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
            <img src ={{fountainPicture}}  alt = imageplaceholder class = "displayImage" (click)="fileInput.click()">
        </div>
        <div class="info">
            <div>
                <p class = "displayTitle">{{fountainName}}</p>
            </div>
            <div>
                <p class = "displayScore">{{starRating}} ⭐</p>
            </div>
            <p class = "displayRatings">{{numberRatings}} ratings</p>
        </div>
    </div>
    
    <div class = "displayCarlStars">
        <star-rating></star-rating>
        <button class="route" (click)="MakeRoute()"></button>
    </div>
</div>