@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
.flex{
    display : flex;
    justify-content: space-evenly;
    width: auto;
    height: auto;
}
.flex > div {
    margin: 15px;
}
.displayTitle{
    font-family: 'Open Sans', sans-serif;
    color: teal;
    font-size: 30px;
}
.displayImage{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.displayScore{
    font-family : 'Open Sans', sans-serif;
    font-style : normal;
    font-weight : 400;
    color: teal;
    font-size: 20px;
}
.displayRatings{
    color: gray;
    font-size: 15px;
    padding-left : 2em;
}
.displayCarlStars{
}

