<div class="col">
    <div class = "row">
        <div>
            <img src = 'https://www.w3schools.com/images/w3schools_green.jpg' alt = imageplaceholder class = "displayImage">
        </div>
        <div class="info">
            <div>
                <p class = "displayTitle">Fontaine de Trévy</p>
            </div>
            <div>
                <p class = "displayScore">4.5/5 ⭐</p>
            </div>
            <p class = "displayRatings">(420069 Ratings)</p>
        </div>
    </div>
    
    <div class = "displayCarlStars">
        <star-rating></star-rating>
        <button class="route" (click)="MakeRoute()"></button>
    </div>
</div>